# Data Cleaning Jupyter Notebook

In [ ]:
# Importing necessary libraries and csv
import pandas as pd
import csv 
import os

#change to whereever your csv is saved or if you have a better method do that
full_path = os.path.expanduser('~me\Downloads\CompSci\AppliedDataAnalytics\CsvFiles\EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv')
df = pd.read_csv(full_path)

## General Info

In [3]:
df.head(5)

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,297836.0831
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,484945.1466
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,106705.9281
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,481828.4303
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,687684.7752

In [4]:
df.shape

(220740, 117)

In [5]:
len(df)

220740

In [6]:
df.describe()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CBSA,CBSA_POP,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
count,220740.000000,2.207390e+05,2.207400e+05,220740.000000,220740.000000,220740.000000,220740.000000,167709.000000,203645.000000,2.207400e+05,...,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,2.207400e+05,2.207400e+05
mean,110370.500000,2.870894e+11,2.870915e+11,28.623190,85.697449,262342.382110,2.221392,341.742661,30514.836210,3.607329e+06,...,-57326.486630,-57326.597590,-57326.483325,10.500000,10.500000,10.500000,7.624884,9.541628,1.655970e+04,4.466074e+07
std,63722.293548,1.640746e+11,1.640774e+11,16.386075,98.818946,351403.837442,1.195155,125.700068,10979.471375,5.219925e+06,...,49459.959391,49459.830782,49459.963223,5.766294,5.766294,5.766294,7.812853,4.373952,3.830373e+04,6.430513e+08
min,1.000000,1.001020e+10,1.001020e+10,1.000000,1.000000,100.000000,0.000000,104.000000,10100.000000,0.000000e+00,...,-99999.000000,-99999.000000,-99999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.685713e+02,4.435890e+03
25%,55185.750000,1.312100e+11,1.312100e+11,13.000000,29.000000,10303.000000,1.000000,218.000000,19740.000000,2.053030e+05,...,-99999.000000,-99999.000000,-99999.000000,5.750000,5.750000,5.750000,1.000000,5.833333,3.271213e+03,4.985104e+05
50%,110370.500000,2.901900e+11,2.901900e+11,29.000000,61.000000,46298.000000,2.000000,361.000000,32820.000000,1.252890e+06,...,-99999.000000,-99999.000000,-99999.000000,10.500000,10.500000,10.500000,1.000000,9.166667,5.877323e+03,1.373918e+06
75%,165555.250000,4.200350e+11,4.200350e+11,42.000000,109.000000,482503.000000,3.000000,429.000000,39300.000000,4.673634e+06,...,0.142514,0.000354,0.161708,15.250000,15.250000,15.250000,16.000000,13.166667,1.596391e+04,9.413158e+06
max,220740.000000,7.803100e+11,7.803100e+11,78.000000,840.000000,993000.000000,9.000000,566.000000,49820.000000,1.931847e+07,...,1.000000,1.000000,1.000000,20.000000,20.000000,20.000000,20.000000,20.000000,3.925989e+06,1.641290e+11

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220740 entries, 0 to 220739
Columns: 117 entries, OBJECTID to Shape_Area
dtypes: float64(73), int64(42), object(2)
memory usage: 197.0+ MB

In [34]:
df.isnull().sum()
for col in df.columns:
    print(col,":", df[col].isna().sum())

OBJECTID : 0
GEOID10 : 1
GEOID20 : 0
STATEFP : 0
COUNTYFP : 0
TRACTCE : 0
BLKGRPCE : 0
CSA : 53031
CSA_Name : 53031
CBSA : 17095
CBSA_Name : 17095
CBSA_POP : 0
CBSA_EMP : 0
CBSA_WRK : 0
Ac_Total : 0
Ac_Water : 0
Ac_Land : 0
Ac_Unpr : 0
TotPop : 0
CountHU : 275
HH : 275
P_WrkAge : 0
AutoOwn0 : 0
Pct_AO0 : 0
AutoOwn1 : 0
Pct_AO1 : 0
AutoOwn2p : 0
Pct_AO2p : 0
Workers : 0
R_LowWageWk : 0
R_MedWageWk : 0
R_HiWageWk : 0
R_PCTLOWWAGE : 0
TotEmp : 0
E5_Ret : 0
E5_Off : 0
E5_Ind : 0
E5_Svc : 0
E5_Ent : 0
E8_Ret : 0
E8_off : 0
E8_Ind : 0
E8_Svc : 0
E8_Ent : 0
E8_Ed : 0
E8_Hlth : 0
E8_Pub : 0
E_LowWageWk : 0
E_MedWageWk : 0
E_HiWageWk : 0
E_PctLowWage : 0
D1A : 271
D1B : 0
D1C : 0
D1C5_RET : 0
D1C5_OFF : 0
D1C5_IND : 0
D1C5_SVC : 0
D1C5_ENT : 0
D1C8_RET : 0
D1C8_OFF : 605
D1C8_IND : 0
D1C8_SVC : 0
D1C8_ENT : 0
D1C8_ED : 0
D1C8_HLTH : 0
D1C8_PUB : 0
D1D : 0
D1_FLAG : 0
D2A_JPHH : 0
D2B_E5MIX : 0
D2B_E5MIXA : 0
D2B_E8MIX : 0
D2B_E8MIXA : 0
D2A_EPHHM : 0
D2C_TRPMX1 : 0
D2C_TRPMX2 : 0
D2C_TRIPEQ : 0
D2R_JOBPOP : 0
D2R_WRKEMP : 0
D2A_WRKEMP : 0
D2C_WREMLX : 0
D3A : 0
D3AAO : 0
D3AMM : 0
D3APO : 0
D3B : 0
D3BAO : 0
D3BMM3 : 0
D3BMM4 : 0
D3BPO3 : 0
D3BPO4 : 0
D4A : 0
D4B025 : 0
D4B050 : 0
D4C : 0
D4D : 1
D4E : 1
D5AR : 0
D5AE : 0
D5BR : 0
D5BE : 0
D5CR : 0
D5CRI : 0
D5CE : 0
D5CEI : 0
D5DR : 0
D5DRI : 0
D5DE : 0
D5DEI : 0
D2A_Ranked : 0
D2B_Ranked : 0
D3B_Ranked : 0
D4A_Ranked : 0
NatWalkInd : 0
Shape_Length : 0
Shape_Area : 0

## Column name Changes

## Notes for reading this Data Frame (UNEDITED)

### Columns:
```
0-10 
uniquely identify where the data is from
    GEOID COLUMNS : Not supposed to be in scientific notation 

11-13
Population info of Core-Based-Statistical-Areas (grouped based on high population density, close economic ties )

14-17
ESSENTIAL INFO 
GeographicArea Information of Census Block groups in acres

18-32
ESSENTIAL INFO 
Demographics 

33-51
Employment Details (work location)

70-83
Employment and Housing Diversity 

84-93 
Urban Design

94-99
Transit Access

100-112
Destination Accessibility

113-117
INDEXES
```

## Notes for reading this Data Frame (EDITED)
### Misc: 
Dropped all entries from PR and OT for inconsistant data collection
Dropped all that did not have overlap with AirQuality 
### Columns: 
```
0-10

Dropped GeoId columns, as it is just a combo of the proceeding info 
Added corresponding state and county column 
Dropped CSA for redundancy and nulls 
Dropped first two CBSA columns 

11-13 

Dropped all CBSA, not useful location information 

14-17

ESSENTIAL INFO 
Geographic Area Information
AC = Acres 
Renamed
    Ac_Total : Total_area_AC
    Ac_Water : Total_water_AC
    Ac_Land : Total_land_AC
    Ac_Unpr : Total_unprotected_land_AC

Added 
    Total_protected_land_AC:(total land - Total unprotected )
 
18-32

ESSENTIAL INFO 
Demographics
Dropped Nulls

Renamed
    TotPop : Total_Pop
    CountHU : Housing_Units
    HH : Occupied_HU
    P_WrkAge : WorkingAge_PCT
    AutoOwn0 : 0_CarsOwned
    Pct_AO0 : 0Cars_PCT
    AutoOwn1 : 1_CarsOwned
    Pct_AO1 : 1Cars_PCT
    AutoOwn2p : 2more_CarsOwned
    Pct_AO2p : 2pCars_PCT
    R_LowWageWk : CountLowWage
    R_MedWageWk : CountMedWage
    R_HiWageWk : CountHiWage
    R_PCTLOWWAGE : LowWage_PCT

Added 
    MedWage_PCT(CountMedWage/Workers)
    HiWage_PCT(CountHiWage/Workers)


33-51
Employment (work location/jobs)
Dropped all columns except for the Total Employment and Broad Wage details
Renamed 
    E_LowWageWk : Emp_CountLowWage
    E_MedWageWk : Emp_CountMedWage
    E_HiWageWk : Emp_CountHiWage
    E_PctLowWage : Emp_LowWage_PCT


52-69
Density
Renamed 
    D1a : Housing_Density
    D1b : Pop_Density
    D1c : Emp_Density
    D1d : PopandEmp_Density

Dropped Nulls
Dropped the rest
Dropped anything with D1_Flag as true to avoid inconsistancies

70-83
Employment and Housing Diversity 
Renamed
    D2a_jpHH : Emp_per_Household
    D2a_EpHHm : Emp_Household_Mix*
    D2r_WrkEmp : Workers_per_Emp
    D2c_WrEmIx : Div_Equilibrium**
*Mix of Employment and Household
** The closer to 1.00 this is, the more balanced the diversity is
Added
    TotalActivity : Total Employment + Households
Dropped the rest 

84-93 
Urban Design
Renamed:
    D3a : Tot_Road_network_Den 
    D3aao: R_Auto_oriented_Den
    D3amm: R_Multimodal_Den
    D3apo: R_Pedestrian_Den
    D3b: Tot_Intersection_Den
    D3bao: I_Auto_oriented_Den
    D3bmm3: I_Multimodal_Den3*
    D3bmm4: I_Multimodal_Den4*
    D3bpo3: I_Pedestrian_Den3*
    D3bpo4: I_Pedestrian_Den4*
* get another opinion I cannot understand what legs are


94-99
Transit Access
Renamed:
    D4a: Dist_to_TStop_MET
    D4b025: Emp_025_Stop_MET*
    D4050: Emp_050_Stop_MET**
    D4c: TStop_Feq_per_hour
    D4d: Tstop_Feq_per_sqrM
    D4e: TStop_Feq_per_Cap

100-112
Destination Accessibility
Renamed
    D5ar: EmpAuto_45minL 
    D5ae: PopAuto_45minL
    D5br: EmpTran_45minL
    D5be: PopTran_45minL
    D5cr: EmpAuto_acc_Ratio
    D5cri: EmpAuto_cent_Index
    D5ce: PopAuto_acc_Ratio
    D5cei: PopAuto_cent_Index
    D5dr: EmpTran_acc_Ratio
    D5dri: EmpTran_cent_Index
    D5de: PopTran_acc_Ratio
    D5dei: PopTran_cent_Index

113-117
INDEXES
Renamed:
    D2A_Ranked: Ranked_Emp_Household_mix
    D2B_Ranked:
    D3B_Ranked: Ranked_Intersection_Den
    D4A_Ranked: Ranked_TranDist 

 ``