In [1]:
from pymongo import MongoClient
import pandas as pd

MONGO_URI = "mongodb+srv://cnolan:uJjcXC5HsN0SWE8H@finalproject.ngck3vj.mongodb.net/"

client = MongoClient(MONGO_URI)

db = client["FinalDB"]
collection_aq = db["AQ_Collection"]
collection_walk = db["Walkability_Collection_fixed"]


# test
print(collection_aq.count_documents({}))
print(collection_walk.count_documents({}))

3117
216351

In [2]:
df_aq = pd.DataFrame(list(collection_aq.find()))
df_walk = pd.DataFrame(list(collection_walk.find()))

df_aq.drop(columns=["_id"], inplace=True)
df_walk.drop(columns=["_id"], inplace=True)

print('Done!')

Done!

In [65]:
# pads the walk df
df_walk["STC_Fips"] = df_walk["STC_Fips"].astype(str).str.zfill(5)

display(df_walk)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,STC_Fips,State_Names,Total_area_AC,Total_water_AC,Total_land_AC,Total_unprotected_land_AC,...,PopAuto_acc_Ratio,PopAuto_cent_Index,EmpTran_acc_Ratio,EmpTran_cent_Index,PopTran_acc_Ratio,PopTran_cent_Index,Ranked_Emp_Household_mix,Ranked_Intersection_Den,Ranked_TranDist,NatWalkInd
0,48,113,7825,4,48113,Texas,73.595028,0.000000,73.595028,73.595028,...,0.000358,0.841299,0.000525,0.184697,0.000476,0.137707,6,15,17,14.000000
1,48,113,7825,2,48113,Texas,119.829909,0.000000,119.829909,119.214200,...,0.000321,0.753958,0.000919,0.323221,0.000801,0.231868,3,12,14,10.833333
2,48,113,7825,3,48113,Texas,26.367053,0.000000,26.367053,26.367050,...,0.000340,0.800475,0.000894,0.314628,0.000736,0.213146,1,7,17,8.333333
3,48,113,7824,1,48113,Texas,119.060687,0.000000,119.060687,119.060687,...,0.000351,0.825778,0.000653,0.229821,0.000708,0.205018,16,17,17,15.666667
4,48,113,7824,2,48113,Texas,169.927211,0.000000,169.927211,148.742920,...,0.000281,0.659846,0.000469,0.164863,0.000433,0.125296,4,11,14,10.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216346,56,25,700,3,05625,Wyoming,193.420737,0.000000,193.420737,185.670240,...,0.026567,0.906221,-99999.000000,-99999.000000,-99999.000000,-99999.000000,3,17,1,7.833333
216347,56,25,800,1,05625,Wyoming,495.303549,44.102902,451.200646,376.627030,...,0.027227,0.928737,-99999.000000,-99999.000000,-99999.000000,-99999.000000,16,13,1,10.333333
216348,56,25,800,2,05625,Wyoming,126.513965,0.000000,126.513965,123.144540,...,0.023797,0.811746,-99999.000000,-99999.000000,-99999.000000,-99999.000000,12,18,1,10.833333
216349,56,17,967900,2,05617,Wyoming,367912.651200,810.976517,367101.674600,221749.898100,...,0.000000,0.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,17,1,1,5.500000
216350,56,17,967900,1,05617,Wyoming,914821.703600,423.499748,914398.203900,516485.052300,...,0.000000,0.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,11,1,1,3.166667

In [98]:
merged = df_aq.merge(df_walk, on="STC_Fips", how="inner")

merged = merged.drop(columns=["State_Names", "STATEFP_y"])

display(merged)
# check to make sure proper merging occurred
print(merged.isna().sum().sum())

,STATEFP_x,STC_Fips,StateName,CountyName,PM25_15yr_Avg,COUNTYFP,TRACTCE,BLKGRPCE,Total_area_AC,Total_water_AC,...,PopAuto_acc_Ratio,PopAuto_cent_Index,EmpTran_acc_Ratio,EmpTran_cent_Index,PopTran_acc_Ratio,PopTran_cent_Index,Ranked_Emp_Household_mix,Ranked_Intersection_Den,Ranked_TranDist,NatWalkInd
0,01,01101,Alabama,Montgomery,13.267753,101,2201,5,82.054003,0.000000,...,0.005074,0.894321,0.000209,0.009834,0.002840,0.127987,5,11,20,11.666667
1,01,01101,Alabama,Montgomery,13.267753,101,2500,2,135.050775,0.000000,...,0.004320,0.761352,0.005800,0.272280,0.004258,0.191887,4,12,20,11.500000
2,01,01101,Alabama,Montgomery,13.267753,101,5612,1,2485.649818,5.541218,...,0.001973,0.347803,-99999.000000,-99999.000000,-99999.000000,-99999.000000,6,4,1,3.500000
3,01,01101,Alabama,Montgomery,13.267753,101,100,1,577.926376,22.972393,...,0.005482,0.966250,0.013499,0.633652,0.009872,0.444835,15,16,20,17.166667
4,01,01101,Alabama,Montgomery,13.267753,101,1000,1,531.202731,42.170827,...,0.004721,0.832082,0.002203,0.103404,0.002079,0.093659,20,11,19,16.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63849,55,55141,Wisconsin,Wood,10.227422,141,10600,5,241.778454,0.000000,...,0.017913,0.904975,-99999.000000,-99999.000000,-99999.000000,-99999.000000,20,19,1,13.333333
63850,55,55141,Wisconsin,Wood,10.227422,141,10500,3,1083.668169,17.541876,...,0.017951,0.906893,-99999.000000,-99999.000000,-99999.000000,-99999.000000,19,10,1,9.500000
63851,55,55141,Wisconsin,Wood,10.227422,141,11300,3,307.525093,35.235966,...,0.018061,0.912432,-99999.000000,-99999.000000,-99999.000000,-99999.000000,10,20,1,9.500000
63852,55,55141,Wisconsin,Wood,10.227422,141,11100,4,898.317224,33.486992,...,0.016681,0.842761,-99999.000000,-99999.000000,-99999.000000,-99999.000000,17,10,1,8.333333
63853,55,55141,Wisconsin,Wood,10.227422,141,11200,2,302.301152,8.622554,...,0.014963,0.755939,-99999.000000,-99999.000000,-99999.000000,-99999.000000,19,16,1,12.166667

0

Here, the datasets have been merged for a more direct comparison. (Unfortunately, some data was lost in the merge, as seen in the reduced number of rows. But we decided that even though there is data loss, the analysis would still provide interesting results.)

# How does income affect air quality?

In [78]:
# vqriable identifying what colum we want to use
income_var = "LowWage_PCT"

# this cuts the df into two halves, lower percentage of low wage workers and a higher percentage of low wage workers.
merged["income_group"] = pd.qcut(merged[income_var], q=2, labels=["Lower % of Low-Wage", "Higher % of Low-Wage"])

merged.groupby("income_group", observed = False)["PM25_15yr_Avg"].mean()

income_group
Lower % of Low-Wage     12.112923
Higher % of Low-Wage    11.944219
Name: PM25_15yr_Avg, dtype: float64

Here we see two groups: areas with a lower share of low-wage workers and regions with a higher share. Notably, the average PM2.5 levels between the two groups are very close, suggesting that at this level of aggregation, air quality differences by income group are limited. This implies that while income may influence localized exposure, regional or broad-area averages can mask more nuanced disparities in air pollution exposure.

# How does access to public transport affect air quality?

In [81]:
# resetting the merged df
merged = df_aq.merge(df_walk, on="STC_Fips", how="inner")

merged = merged.drop(columns=["State_Names", "STATEFP_y"])

Judging the quality of transit access based on distance from the nearest transit stop

In [83]:
temp = merged[["PM25_15yr_Avg", "Dist_to_TStop_MET"]].copy()

temp["transit_access"] = pd.cut(
    temp["Dist_to_TStop_MET"],
    bins=[0, 200, 500, 5000],
    labels=["Good transit access", "Medium transit access", "Poor transit access"]
)

group = temp.groupby("transit_access", observed = False)["PM25_15yr_Avg"].mean()
display(group)

transit_access
Good transit access      12.963322
Medium transit access    12.706773
Poor transit access      12.231796
Name: PM25_15yr_Avg, dtype: float64

PM2.5 levels are highest in areas with good transit access (12.96), followed by medium (12.71) and poor transit access (12.23). This suggests that higher pollution levels are associated with areas that have better transit access. However, this likely reflects greater urban density, traffic volume, and economic activity in these regions rather than transit access itself being a direct cause of increased air pollution.

# How does car ownership per household affect air quality?

In [102]:
Northeast = [
    "Connecticut",
    "Maine",
    "Massachusetts",
    "New Hampshire",
    "Rhode Island",
    "Vermont",
    "New Jersey",
    "New York",
    "Pennsylvania"
]

Midwest = [
    "Illinois",
    "Indiana",
    "Michigan",
    "Ohio",
    "Wisconsin",
    "Iowa",
    "Kansas",
    "Minnesota",
    "Missouri",
    "Nebraska",
    "North Dakota",
    "South Dakota"
]

South = [
    "Delaware",
    "Florida",
    "Georgia",
    "Maryland",
    "North Carolina",
    "South Carolina",
    "Virginia",
    "West Virginia",
    "Alabama",
    "Kentucky",
    "Mississippi",
    "Tennessee",
    "Arkansas",
    "Louisiana",
    "Oklahoma",
    "Texas"
]

West = [
    "Arizona",
    "Colorado",
    "Idaho",
    "Montana",
    "Nevada",
    "New Mexico",
    "Utah",
    "Wyoming",
    "Alaska",
    "California",
    "Hawaii",
    "Oregon",
    "Washington"
]

In [122]:
# creating a region mapping 
region_map = {}

for state in Northeast:
    region_map[state] = "Northeast"

for state in Midwest:
    region_map[state] = "Midwest"

for state in South:
    region_map[state] = "South"

for state in West:
    region_map[state] = "West"

In [124]:
# adding specific regions to the merged dataframe
merged["Region"] = merged["StateName"].map(region_map)
display(merged)

,STATEFP_x,STC_Fips,StateName,CountyName,PM25_15yr_Avg,COUNTYFP,TRACTCE,BLKGRPCE,Total_area_AC,Total_water_AC,...,PopAuto_cent_Index,EmpTran_acc_Ratio,EmpTran_cent_Index,PopTran_acc_Ratio,PopTran_cent_Index,Ranked_Emp_Household_mix,Ranked_Intersection_Den,Ranked_TranDist,NatWalkInd,Region
0,01,01101,Alabama,Montgomery,13.267753,101,2201,5,82.054003,0.000000,...,0.894321,0.000209,0.009834,0.002840,0.127987,5,11,20,11.666667,South
1,01,01101,Alabama,Montgomery,13.267753,101,2500,2,135.050775,0.000000,...,0.761352,0.005800,0.272280,0.004258,0.191887,4,12,20,11.500000,South
2,01,01101,Alabama,Montgomery,13.267753,101,5612,1,2485.649818,5.541218,...,0.347803,-99999.000000,-99999.000000,-99999.000000,-99999.000000,6,4,1,3.500000,South
3,01,01101,Alabama,Montgomery,13.267753,101,100,1,577.926376,22.972393,...,0.966250,0.013499,0.633652,0.009872,0.444835,15,16,20,17.166667,South
4,01,01101,Alabama,Montgomery,13.267753,101,1000,1,531.202731,42.170827,...,0.832082,0.002203,0.103404,0.002079,0.093659,20,11,19,16.166667,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63849,55,55141,Wisconsin,Wood,10.227422,141,10600,5,241.778454,0.000000,...,0.904975,-99999.000000,-99999.000000,-99999.000000,-99999.000000,20,19,1,13.333333,Midwest
63850,55,55141,Wisconsin,Wood,10.227422,141,10500,3,1083.668169,17.541876,...,0.906893,-99999.000000,-99999.000000,-99999.000000,-99999.000000,19,10,1,9.500000,Midwest
63851,55,55141,Wisconsin,Wood,10.227422,141,11300,3,307.525093,35.235966,...,0.912432,-99999.000000,-99999.000000,-99999.000000,-99999.000000,10,20,1,9.500000,Midwest
63852,55,55141,Wisconsin,Wood,10.227422,141,11100,4,898.317224,33.486992,...,0.842761,-99999.000000,-99999.000000,-99999.000000,-99999.000000,17,10,1,8.333333,Midwest
63853,55,55141,Wisconsin,Wood,10.227422,141,11200,2,302.301152,8.622554,...,0.755939,-99999.000000,-99999.000000,-99999.000000,-99999.000000,19,16,1,12.166667,Midwest

In [135]:
# grouping by the region and then averaging the car percentages
regional_car_averages = (merged.groupby("Region")[["PM25_15yr_Avg", "0Cars_PCT", "1Cars_PCT", "2pCars_PCT"]].mean())

print(regional_car_averages)

           PM25_15yr_Avg  0Cars_PCT  1Cars_PCT  2pCars_PCT
Region
Midwest        12.387640   0.076071   0.319848    0.602533
Northeast      12.452339   0.143223   0.342166    0.512596
South          11.841054   0.072607   0.336296    0.588784
West           10.551986   0.055544   0.287360    0.654726

This table compares regional car ownership patterns with average PM2.5 levels. Unlike the earlier regional-average analysis, this data shows a different pattern: the West has the lowest PM2.5 despite having the highest share of households with two or more cars. In contrast, the Midwest and Northeast have higher pollution with lower multi-car ownership. This difference highlights a limitation of regional averages: changing the variables being compared can yield different conclusions and mask essential factors such as urban density, industry, and geography.