In [37]:
from pymongo import MongoClient
import pandas as pd

MONGO_URI = "mongodb+srv://cnolan:uJjcXC5HsN0SWE8H@finalproject.ngck3vj.mongodb.net/"

client = MongoClient(MONGO_URI)

db = client["FinalDB"]
collection_aq = db["AQ_Collection"]
collection_walk = db["Walkability_Collection_fixed"]


# test
print(collection_aq.count_documents({}))
print(collection_walk.count_documents({}))

3117
215000

In [39]:
df_aq = pd.DataFrame(list(collection_aq.find()))
df_walk = pd.DataFrame(list(collection_walk.find()))

df_aq.drop(columns=["_id"], inplace=True)
df_walk.drop(columns=["_id"], inplace=True)

print('Done!')

Done!

In [58]:
merged = df_aq.merge(df_walk, on="STC_Fips", how="inner")

merged = merged.drop(columns=["State_Names", "STATEFP_y"])

display(merged)

,STATEFP_x,STC_Fips,StateName,CountyName,PM25_15yr_Avg,COUNTYFP,TRACTCE,BLKGRPCE,Total_area_AC,Total_water_AC,...,PopAuto_acc_Ratio,PopAuto_cent_Index,EmpTran_acc_Ratio,EmpTran_cent_Index,PopTran_acc_Ratio,PopTran_cent_Index,Ranked_Emp_Household_mix,Ranked_Intersection_Den,Ranked_TranDist,NatWalkInd
0,12,12101,Florida,Pasco,10.068009,101,32106,2,349.670716,0.000000,...,0.000259,0.268809,-99999.000000,-99999.000000,-99999.000000,-99999.000000,3,8,1,6.000000
1,12,12101,Florida,Pasco,10.068009,101,32300,1,15180.112090,584.318358,...,0.000087,0.090084,-99999.000000,-99999.000000,-99999.000000,-99999.000000,7,3,1,3.833333
2,12,12101,Florida,Pasco,10.068009,101,32500,4,1633.978402,41.111263,...,0.000095,0.098646,-99999.000000,-99999.000000,-99999.000000,-99999.000000,9,6,1,7.000000
3,12,12101,Florida,Pasco,10.068009,101,30800,1,250.207530,0.000000,...,0.000296,0.307273,0.000146,0.046617,0.000337,0.089299,17,17,15,16.666667
4,12,12101,Florida,Pasco,10.068009,101,31003,1,183.279259,0.000000,...,0.000228,0.236671,-99999.000000,-99999.000000,-99999.000000,-99999.000000,1,16,1,7.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62569,51,51840,Virginia,Winchester,12.163602,840,302,3,259.521470,0.000000,...,0.015803,0.804743,-99999.000000,-99999.000000,-99999.000000,-99999.000000,15,10,1,7.166667
62570,51,51840,Virginia,Winchester,12.163602,840,100,1,117.535339,0.000000,...,0.019328,0.984253,-99999.000000,-99999.000000,-99999.000000,-99999.000000,20,16,1,12.333333
62571,51,51840,Virginia,Winchester,12.163602,840,100,3,52.004419,0.000000,...,0.019637,1.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,10,16,1,8.833333
62572,51,51840,Virginia,Winchester,12.163602,840,100,4,187.051982,0.084261,...,0.017087,0.870115,-99999.000000,-99999.000000,-99999.000000,-99999.000000,18,15,1,10.166667
62573,51,51840,Virginia,Winchester,12.163602,840,100,6,107.462060,0.000000,...,0.017548,0.893592,-99999.000000,-99999.000000,-99999.000000,-99999.000000,6,11,1,5.333333

# How does income affect air quality?

In [60]:
# vqriable identifying what colum we want to use
income_var = "LowWage_PCT"

# this cuts the df into two halves, lower percentage of low wage workers and a higher percentage of low wage workers.
merged["income_group"] = pd.qcut(merged[income_var], q=2, labels=["Lower % Low-Wage", "Higher % Low-Wage"])

merged.groupby("income_group")["PM25_15yr_Avg"].mean()

C:\Users\nolan\AppData\Local\Temp\ipykernel_11328\2983476086.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  merged.groupby("income_group")["PM25_15yr_Avg"].mean()

income_group
Lower % Low-Wage     11.921870
Higher % Low-Wage    11.672737
Name: PM25_15yr_Avg, dtype: float64

# How does access to public transport affect air quality?

# How does car ownership per household affect air quality?